<ion-view>
    <ion-content>
     

    </ion-content>
      <ion-footer-bar >
          <div class="footer-img">
                     <ul>
                  <li>
                      <a href="#/app/choose"><img src="img/idol/5.png" class="full-image"></a>
                  </li>
                  <li>
                      <a href="#/app/choose"><img src="img/idol/2.jpg" class="full-image"> </a>
                  </li>
                  <li>
                      <a href="#/app/choose"><img src="img/idol/1.jpg" class="full-image"> </a>
                  </li>
                  <li>
                      <a href="#/app/choose"><img src="img/idol/3.jpg" class="full-image"></a>
                  </li>
              </ul>
          </div>
</ion-footer-bar>
</ion-view>
