<ion-modal-view title="Filter">
    <ion-header-bar class="bar-calm">
        <h1 class="title">Select image</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closemodal();">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
    <div class="footer-img">
                     <ul>
                  <li ng-click="openmodal();">
                      <a href="#/app/choose"><img src="img/idol/5.png" class="full-image"></a>
                  </li>
                  <li>
                      <a href="#/app/choose"><img src="img/idol/2.jpg" class="full-image"> </a>
                  </li>
                  <li>
                      <a href="#/app/choose"><img src="img/idol/1.jpg" class="full-image"> </a>
                  </li>
                  <li>
                      <a href="#/app/choose"><img src="img/idol/3.jpg" class="full-image"></a>
                  </li>
                     <li ng-click="openmodal();">
                      <a href="#/app/choose"><img src="img/idol/5.png" class="full-image"></a>
                  </li>
                  <li>
                      <a href="#/app/choose"><img src="img/idol/2.jpg" class="full-image"> </a>
                  </li>
                  <li>
                      <a href="#/app/choose"><img src="img/idol/1.jpg" class="full-image"> </a>
                  </li>
                  <li>
                      <a href="#/app/choose"><img src="img/idol/3.jpg" class="full-image"></a>
                  </li>
              </ul>
          </div>
    </ion-content>
</ion-modal-view>