<ion-view>
    <ion-content>
        <div class="create-set text-center">
            <h4>LET THE ECO-FRIENDLY 
CELEBRATIONS BEGIN. 
PICK AN IDOL FROM OUR 
RANGE OF GANESHAS.</h4>
     
        </div>
    </ion-content>
      <ion-footer-bar >
          <div class="footer-img">
              <ul>
                  <li   ng-click="openmodal();">
                      <img src="img/idol/5.png" class="full-image">
                  </li>
                  <li>
                      <a href="#/app/choose"><img src="img/idol/2.jpg" class="full-image"> </a>
                  </li>
                  <li>
                      <a href="#/app/choose"><img src="img/idol/1.jpg" class="full-image"> </a>
                  </li>
                  <li>
                      <a href="#/app/choose"><img src="img/idol/3.jpg" class="full-image"></a>
                  </li>
              </ul>
          </div>
</ion-footer-bar>
</ion-view>
