<ion-view >
  <ion-content>
<div class="terms-set">
   <div class="">
       
       <div class="term-content">
       <h4 class="text-center">HOW TO PLAY</h4>
       <p>Unlock new decorations and elements for Bappa every day and keep sharing your creations with your friends. 
</p>
  <p>The more likes you receive from your friends, the more points you collect.</p>
  
  <p>

To collect more points daily, perform an Aarti to Ganesha. The mahurat for Aarti is pre-set by the app and lasts for an hour. You will get an alert twice a day.
       </p>
       <p>
The contest remains open till 6 pm daily. Users who get maximum likes on a particular day will be declared the winner after 6 pm daily on Facebook.
Winners of the 3rd, 5th and 10th day will be featured on TOI page after the Visarjan day.
       </p>
<div class="next text-right">
   <h4>Next<a href="#/app/play"><i class="icon ln-circle-right2" ></i></a></h4>
</div>
  </div>
   </div>
</div>
  </ion-content>
</ion-view>
