<ion-modal-view title="Filter" >
  <ion-header-bar class="bar-calm">
    <h1 class="title">Select image</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closemodal();">Close</button>
    </div>
  </ion-header-bar>
  <ion-content class="has-header">

    <div class="row">
      <div class="col">
        <img src="img/idol/5.png" class="full-image" ng-click="selectMe($event);">
      </div>
      <div class="col">
        <img src="img/idol/5.png" class="full-image" ng-click="selectMe($event);">
      </div>
      <div class="col">
        <img src="img/idol/5.png" class="full-image" ng-click="selectMe($event);">
      </div>
      <div class="col">
        <img src="img/idol/5.png" class="full-image" ng-click="selectMe($event);">
      </div>
    </div><div class="row">
      <div class="col">
        <img src="img/idol/5.png" class="full-image" ng-click="selectMe($event);">
      </div>
      <div class="col">
        <img src="img/idol/5.png" class="full-image" ng-click="selectMe($event);">
      </div>
      <div class="col">
        <img src="img/idol/5.png" class="full-image" ng-click="selectMe($event);">
      </div>
      <div class="col">
        <img src="img/idol/5.png" class="full-image" ng-click="selectMe($event);">
      </div>
    </div>

  </ion-content>
  <!--
    <ion-content>

           <div class="confirm create-set text-center" >
            <h4>Sure about this idol?
You can’t change
it again later.
</h4>
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class=" custs text-right" style="position: absolute;right: 40px;">

            <p>YES ,
                <br>I love it</p><a href="#/app/goplay"><i class="icon ln-circle-right2" ></i>
   </div>
   <div class=" next cust text-left" style="position: absolute;left: 40px;">
   <a href="#/app/goplay"><i class="icon ln-circle-left2" ></i></a>
            <p>NO ,
                <br>Go Back</p>

        </div>
    </ion-footer-bar>
-->
</ion-modal-view>

