<ion-view>
    <ion-content>
        <div class="create-set text-center">
            <h4>Select the number of days 
you would like to keep the idol.</h4>
           <ul >
               
               <li>3</li>
               <li>5</li>
               <li>10</li>
           </ul>
            <h4>PLAY ANYWAY</h4>
       
        </div>
      
    </ion-content>
          <ion-footer-bar >
          <div class=" next text-right" style="position: absolute;right: 40px;">
   <h4>Next<a href="#/app/goplay"><i class="icon ln-circle-right2" ></i></a></h4>
   </div>
</ion-footer-bar>
</ion-view>
