<ion-view >
  <ion-content>
<div class="terms-set">
   <div class="terms">
       <h4 class="text-center">TERMS AND CONDITIONS</h4>
       <div class="term-content">
       <p>Terms Of Use (“Terms”)
</p>
  <p>Please read these Terms of Use (“Terms, “Terms Of Use”) carefully before using TIMES B-APP-A app operated by WOHLIG as they contain important information regarding your legal rights, remedies and obligations.</p>
  
  <p>

Your access to and use the service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.
       </p>
       <p>
If a user selects 3 or 5 days, contest will be closed after Visarjan. The Visarjan time will be 6 pm and is not subject to change. 
       </p>
       <p>
       
Users cannot change the Ganesha idol throughout the contest after they select it on the first day. They can change the decorative elements and background every day and post it on Facebook. 
       </p>
       <p>
Users can upload customized backgrounds as well.  
       </p>
       <p>
       
Users can post one creation per day, which will be tracked by our system. They will gain points based on their activity on Facebook.
       </p>
       <p>
Post the Visarjan, the contest will be closed and tracking of users and posts shall also be shut. Winner will be declared post 6 pm on Visarjan.
       </p>
       <p>
Winners will be declared based on the maximum number of points collected on a particular day as per their posts on Facebook.
       </p>
<p>
All lucky winners will be featured in Times Of India.
       </p>
       <p>
By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.</p>
  <h6>I HAVE READ AND ACCEPTED THE TERMS & CONDITIONS</h6>
  
<div class="button-bar ">
  <a class="button button-small button-calm" href="#/app/home">Agree</a>
  <a class="button button-small button-calm" href="#/app/home">Disagree</a>
 
</div>
  </div>
   </div>
</div>
  </ion-content>
</ion-view>
